
table{
    color: black;
}
img{
    height: 25px;
    width: 25px;
}
select{
    height: 35px;
    width: 100px;
}
.gamedaytable{
    text-align: center;
}
.preference{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    font-weight: 700;
    
}
table-scroll{
    width: 100%;
    padding: 0px; 
    margin-bottom: 0px; 
    overflow-x: auto; 
}
@media(max-width: 600px){
    .showImages{
        display: none; 
    }
}