 
<div class="body">
    <div class="navbar">
		 <h1 class="header" >TwoFootball</h1> 
	</div>

    <hr>
    <form ngNativeValidate #form>  
        <h2>Login</h2> 
             
        <div class="inputs-container">
                <input [(ngModel)]="UserEmail" type="text" pattern="[^@\s]+@[^@\s]+" name="UserEmail" placeholder="Email" required/>
                
        </div>
        Sie haben noch kein Konto? <br>
        <a class="register" [routerLink] = "['/register']">Jetzt registrieren!</a> <br>
        <button type="submit" (click)="form.checkValidity()? checkMailWithAlert():null" [routerLink] = "(form.checkValidity() && checkMail()) ? ['/results']:null" value ="submit">submit</button> <br>     <!--[routerLink] = "['/results']"-->
    </form>
    
</div>